.tweet{
  display: flex;
  border: 2px solid #33ECFF;
  padding: 10px;
  background: #E9FAFB;
  height: 100px;
  width: 400px;
  border-radius: 6px;
  box-shadow: 5px 3px 13px #06B4BC;
}
.avatar{
  width: 48px;
  height: 48px;
  border-radius: 5px;
  margin-right: 10px;
}
.name{
font-weight: bold;

}
.time{
  padding-left: 0.3em;
  color: #32F1FA;
}
.time::before{
  content:'\00b7';
  padding-right: 0.3em;
}
.buttons{
  margin-top: 10px;
  margin-left: 2px;
  font-size: 1.4em;
  color:##C9E1E3;
}
.buttons i{
  width: 80px;

}
